In [1]:
import numpy as np
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
''' How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) '''

" How-to-count-distance-to-the-previous-zero\nFor each value, count the difference back to the previous zero (or the start of the Series,\nwhichever is closer)\ncreate a new column 'Y'\nConsider a DataFrame df where there is an integer column 'X'\nimport pandas as pd\ndf = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) "

In [4]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [5]:
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
X    10 non-null int64
dtypes: int64(1)
memory usage: 120.0 bytes

In [8]:
df.describe()

               X
count  10.000000
mean    3.000000
std     2.160247
min     0.000000
25%     2.000000
50%     3.000000
75%     4.000000
max     7.000000

In [9]:
df.count()

X    10
dtype: int64

In [10]:
df.mean()

X    3.0
dtype: float64

In [11]:
df.std()

X    2.160247
dtype: float64

In [12]:
df.min()

X    0
dtype: int64

In [13]:
df.max()

X    7
dtype: int64

In [16]:
df.head

<bound method NDFrame.head of    X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4>

In [17]:
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [18]:
N = 10
a = np.random.rand(N,N)
b = np.zeros((N,N+1))
b[:,:-1] = a

In [20]:
N

10

In [21]:
a

array([[0.18183401, 0.63605857, 0.24216072, 0.81998713, 0.23628616,
        0.63867676, 0.95600749, 0.80943585, 0.27891919, 0.61533252],
       [0.57699012, 0.07747158, 0.14820951, 0.34343222, 0.66758837,
        0.25484935, 0.63091748, 0.19276316, 0.49511204, 0.3608835 ],
       [0.21461777, 0.53591526, 0.39110452, 0.73440083, 0.99249256,
        0.50762734, 0.66508958, 0.38243001, 0.81974307, 0.35412565],
       [0.54140291, 0.8828835 , 0.4426431 , 0.12564363, 0.6586405 ,
        0.63979918, 0.92016927, 0.56983527, 0.89062861, 0.32530068],
       [0.97061803, 0.35051316, 0.02278184, 0.25043786, 0.18144455,
        0.86261932, 0.5008578 , 0.35212816, 0.69541725, 0.02316099],
       [0.79352247, 0.76851764, 0.23246118, 0.73912259, 0.34520744,
        0.6204957 , 0.47246396, 0.271223  , 0.85120316, 0.74377173],
       [0.31886733, 0.08775993, 0.58272976, 0.83952927, 0.20569234,
        0.50781466, 0.03570238, 0.97530181, 0.32400958, 0.15485181],
       [0.06626998, 0.83238851, 0.415717  , 0.600113  , 0.22692691,
        0.23047846, 0.38311734, 0.27443126, 0.62614339, 0.57140733],
       [0.17049838, 0.68786894, 0.40566234, 0.80521698, 0.90787122,
        0.21615069, 0.80570857, 0.22330478, 0.03202746, 0.20850848],
       [0.07926406, 0.29685335, 0.63436275, 0.98213194, 0.4821406 ,
        0.82147433, 0.22696946, 0.494929  , 0.81502698, 0.77937217]])

In [22]:
b

array([[0.18183401, 0.63605857, 0.24216072, 0.81998713, 0.23628616,
        0.63867676, 0.95600749, 0.80943585, 0.27891919, 0.61533252,
        0.        ],
       [0.57699012, 0.07747158, 0.14820951, 0.34343222, 0.66758837,
        0.25484935, 0.63091748, 0.19276316, 0.49511204, 0.3608835 ,
        0.        ],
       [0.21461777, 0.53591526, 0.39110452, 0.73440083, 0.99249256,
        0.50762734, 0.66508958, 0.38243001, 0.81974307, 0.35412565,
        0.        ],
       [0.54140291, 0.8828835 , 0.4426431 , 0.12564363, 0.6586405 ,
        0.63979918, 0.92016927, 0.56983527, 0.89062861, 0.32530068,
        0.        ],
       [0.97061803, 0.35051316, 0.02278184, 0.25043786, 0.18144455,
        0.86261932, 0.5008578 , 0.35212816, 0.69541725, 0.02316099,
        0.        ],
       [0.79352247, 0.76851764, 0.23246118, 0.73912259, 0.34520744,
        0.6204957 , 0.47246396, 0.271223  , 0.85120316, 0.74377173,
        0.        ],
       [0.31886733, 0.08775993, 0.58272976, 0.83952927, 0.20569234,
        0.50781466, 0.03570238, 0.97530181, 0.32400958, 0.15485181,
        0.        ],
       [0.06626998, 0.83238851, 0.415717  , 0.600113  , 0.22692691,
        0.23047846, 0.38311734, 0.27443126, 0.62614339, 0.57140733,
        0.        ],
       [0.17049838, 0.68786894, 0.40566234, 0.80521698, 0.90787122,
        0.21615069, 0.80570857, 0.22330478, 0.03202746, 0.20850848,
        0.        ],
       [0.07926406, 0.29685335, 0.63436275, 0.98213194, 0.4821406 ,
        0.82147433, 0.22696946, 0.494929  , 0.81502698, 0.77937217,
        0.        ]])

In [24]:
''' Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.'''

' Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of\nrandom numbers.'

In [29]:
 rng = pd.date_range('1/1/2015', periods=72, freq='H')

In [30]:
rng

DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 01:00:00',
               '2015-01-01 02:00:00', '2015-01-01 03:00:00',
               '2015-01-01 04:00:00', '2015-01-01 05:00:00',
               '2015-01-01 06:00:00', '2015-01-01 07:00:00',
               '2015-01-01 08:00:00', '2015-01-01 09:00:00',
               '2015-01-01 10:00:00', '2015-01-01 11:00:00',
               '2015-01-01 12:00:00', '2015-01-01 13:00:00',
               '2015-01-01 14:00:00', '2015-01-01 15:00:00',
               '2015-01-01 16:00:00', '2015-01-01 17:00:00',
               '2015-01-01 18:00:00', '2015-01-01 19:00:00',
               '2015-01-01 20:00:00', '2015-01-01 21:00:00',
               '2015-01-01 22:00:00', '2015-01-01 23:00:00',
               '2015-01-02 00:00:00', '2015-01-02 01:00:00',
               '2015-01-02 02:00:00', '2015-01-02 03:00:00',
               '2015-01-02 04:00:00', '2015-01-02 05:00:00',
               '2015-01-02 06:00:00', '2015-01-02 07:00:00',
               '2015-01-02 08:00:00', '2015-01-02 09:00:00',
               '2015-01-02 10:00:00', '2015-01-02 11:00:00',
               '2015-01-02 12:00:00', '2015-01-02 13:00:00',
               '2015-01-02 14:00:00', '2015-01-02 15:00:00',
               '2015-01-02 16:00:00', '2015-01-02 17:00:00',
               '2015-01-02 18:00:00', '2015-01-02 19:00:00',
               '2015-01-02 20:00:00', '2015-01-02 21:00:00',
               '2015-01-02 22:00:00', '2015-01-02 23:00:00',
               '2015-01-03 00:00:00', '2015-01-03 01:00:00',
               '2015-01-03 02:00:00', '2015-01-03 03:00:00',
               '2015-01-03 04:00:00', '2015-01-03 05:00:00',
               '2015-01-03 06:00:00', '2015-01-03 07:00:00',
               '2015-01-03 08:00:00', '2015-01-03 09:00:00',
               '2015-01-03 10:00:00', '2015-01-03 11:00:00',
               '2015-01-03 12:00:00', '2015-01-03 13:00:00',
               '2015-01-03 14:00:00', '2015-01-03 15:00:00',
               '2015-01-03 16:00:00', '2015-01-03 17:00:00',
               '2015-01-03 18:00:00', '2015-01-03 19:00:00',
               '2015-01-03 20:00:00', '2015-01-03 21:00:00',
               '2015-01-03 22:00:00', '2015-01-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [31]:
pd.to_datetime(pd.Series(['Jul 31, 2015', '2010-01-10', None]))

0   2015-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [38]:
df =Series(randn(100), index=pd.date_range('2012-01-01', periods=100))
df

NameError: name 'Series' is not defined